@import url(https://fonts.googleapis.com/css?family=Denk+One);


@red: 255;
@green: 255;
@blue: 255;

body {
  background-color:lightsteelblue;
}

h2 {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: 'Denk One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4em;
  text-align: center;
  left: 50%;
  top: 35%;
  margin-left: -180px;
  
  -webkit-animation: horror-animation 5s infinite;
  -moz-animation: horror-animation 5s infinite;
  -o-animation: horror-animation 5s infinite;
  animation: horror-animation 5s infinite;
}



span {
  font-size: 0.4em;
}

@-webkit-keyframes horror-animation {.mixi-frames;}
@-moz-keyframes horror-animation {.mixi-frames;}
@-o-keyframes horror-animation {.mixi-frames;}
@keyframes horror-animation {.mixi-frames;}

.mixi-frames () {
	0% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.1); left: 51%; top: 36%;}
	5% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.2); left: 50%; top: 35%;}
  10% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.3); left: 49%; top: 34%;}
	15% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.4); left: 50%; top: 35%;}
  16% {text-shadow: 0 0 5px @dark-gray; left: 50%}
  17% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.4); left: 50%;}
	20% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.5); left: 49%}
  25% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.6); left: 49%}
 	30% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.7); left: 50%}
	35% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.8); left: 50%}
  36% {text-shadow: 0 0 5px @dark-gray; left: 50%}
  37% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.8); left: 50%}
  40% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.9); left: 51%}
	45% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.8); left: 51%}
	50% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.7); left: 51%}
	55% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.6); left: 50%}
  56% {text-shadow: 0 0 5px @dark-gray; left: 50%}
  57% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.6); left: 52%}
  60% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.5); left: 50%}
	65% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.4); left: 50%}
	70% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.3); left: 49%}
  75% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.2); left: 49%}
  76% {text-shadow: 0 0 5px @dark-gray; left: 50%}
  77% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.2); left: 49%}
 	80% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.1); left: 49%}
	85% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.2); left: 51%}
  86% {text-shadow: 0 0 5px @dark-gray; left: 50%}
  87% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.2); left: 51%}
  90% {text-shadow: 0 0 5px rgba(@red,@green,@blue,0.3); left: 51%}
	95% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.4); left: 51%} 
 	100% {text-shadow: 0 0 10px rgba(@red,@green,@blue,0.5); left: 50%} 
}


#fortune-survey {
  display: none;
  font-family: "Snell Roundhand";
  float: center;
}

#start {
  font-family: "Courier";
  letter-spacing: .15em;
  font-size: 14px;
}

#typewriter p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  letter-spacing: .15em;
  white-space: nowrap;
  overflow: hidden;
}
#typewriter p:nth-child(1) {
  width: 780px; /* manually set width */
  -webkit-animation: type 2s steps(40, end);
  animation: 
    type 3.5s steps(50, end)
    ;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#typewriter p:nth-child(2) {
  width: 780px; /* manually set width */
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 3.5s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#typewriter p:nth-child(3) {
  width: 780px; /* manually set width */
  opacity: 0;
  -webkit-animation: type3 2s steps(40);
  animation: type3 3.5s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

